PORT=8000

MONGO_URI=mongodb://admin:123456@localhost:27017/express_learning?authSource=admin

NODE_ENV=development

JWT_SECRET=change-this-secret-in-production
JWT_EXPIRES_IN=1d

MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=order-management
MINIO_REGION=us-east-1
MINIO_MAX_FILE_SIZE_MB=20
